* {
    box-sizing: border-box;
}

/* color palette  */
:root {
    --primary-color: rgb(255, 123, 0);
    --padding-color: rgba(1, 250, 1, 0.856);
    --tertiary-color: rgb(4, 28, 109);
    --quatrinary-color: rgb(65, 64, 64);
    --light: rgb(255, 240, 189);   
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--tertiary-color);
    background-color: var(--light);
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
   margin: 0; 
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 6% 15px 0;
    background-color:var(--quatrinary-color);
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
   font-weight: bold; 
   margin: 10px;
   font-size: 4vw;
   color: var(--primary-color);
   background-color: var(--light);
   padding: 5px;
   line-height: 1;
   border-radius: 5px;
}

header a { 
    text-decoration: none;
    color: var(--primary-color);
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color:var(--primary-color);
    margin-right: 10px;
    background-image:linear-gradient(0deg, var(--primary-color) 0%, var(--primary-color) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.15em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
    border-radius: 0.2em;
    box-shadow: 4px -2px 0px 0px;
}

nav a:hover {
    background: var(--primary-color);
    color: var(--light);
    border-radius: 0.2em;
    background-size: 100% 100%; 
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.hero {
    background-image: url(images/loading-gif.webp);
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 30vh;
    padding: 2% 6%;
    text-align: right;
}

.hero div {
    flex: 0 0 90%;
}

.hero h2 {
    margin: 0;
    color:var(--primary-color);
    background-color: var(--light);
    line-height: 1.3;
    display: inline;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 0.2rem;
}

.page-wrapper {
    max-width: 95%;
    margin-right: auto;
}

.page-section {
    margin:25px 0px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: center;
    padding-right: 10px;
    font-size: 4vw;
    border-right: 3px solid var(--tertiary-color);
    line-height: 1.1;
    color: var(--primary-color);
}

.page-section > div { 
    flex: 0 0 77%;
}

.page-section p {
    color: var(--tertiary-color);
    margin: 20px;
    font-weight: bold; 
}

.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
}

.grid-item {
    border: 5px solid var(--padding-color);
    color: var(--tertiary-color); 
    grid-column: span 4;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-size: 150%;
    background-blend-mode: soft-light;
    transition: all 0.5s;
    font-size: 0.9rem;  
}

.grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
}

.grid-item:hover {
    background-color: rgba(0, 0, 0, 0.445);
}

.grid-item div {
    background-color: var(--padding-color);
    padding: 8px 10px;
}

.grid-item h3 {
    font-size: 1.6rem;
}

.contact-me address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
  
.contact-me address a {
    text-decoration: none;
    padding: 5px 10px;
    color:var(--primary-color);
    margin-right: 10px;
    background-image:linear-gradient(0deg, var(--primary-color) 0%, var(--primary-color) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.15em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
    border-radius: 0.2em;
    box-shadow: 4px -2px 0px 0px;
}
  
.contact-me address a:hover {
    background: var(--primary-color);
    color: var(--quatrinary-color);
    border-radius: 0.2em;
    background-size: 100% 100%;
}

.weather-report {
    background-image: url(images/weather-report.jpg);
}

.day-planner {
    background-image: url(images/day-planner.jpg);
}

.quiz {
    background-image: url(images/quiz.gif);
}

.movie-lists {
    background-image: url(images/movieThumbs.jpg);
}

.note-taker {
    background-image: url(images/note-taker.gif);
}

.music-search {
    background-image: url(images/music\ search.png);
}

@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }

    header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw; 
    }
  
    header nav {
        justify-content: right;
      }
    
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
}
  
  @media screen and (max-width: 768px) {
    .grid-item,
    .grid-item:first-child {
      grid-column: 1 / -1;
    }
  
    .grid-container {
      grid-auto-rows: minmax(200px, 1fr);
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }


